
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/login-signup.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>signup</title>
</head>

<body>
    <div id="wrapper">
        <img class="bgr" src="~/assets/banner3.jpg" alt="">
        <div class="wrapper">
            <form onsubmit="return submitSignup();" autocomplete="on" action="/signup/checkSignup/" method="post" id="form-signup">
                <h1 class="form-heading">Đăng Ký Tài Khoản</h1>
                <div class="form-group">

                    <div class="div_input">
                        <i class="far fa-user"></i>
                        <input id="username" type="text" name="taikhoan" class="form-input" placeholder="Tên đăng nhập">
                    </div>
                    <div id="e_user" class="rq"></div>
                </div>
                <div class="form-group">

                    <div class="div_input">
                        <i class="fa fa-phone-alt"></i>
                        <input id="phone" type="text" name="phone" class="form-input" placeholder="Số điện thoại">
                    </div>
                    <div id="e_phone" class="rq"></div>
                </div>
                <div class="form-group">
                    <div class="div_input">
                        <i class="fas fa-key"></i>
                        <input id="pass" type="password" name="matkhau" class="form-input" placeholder="Mật khẩu">
                        <div id="eye" class="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                    <div id="e_pass" class="rq"></div>
                </div>
                <div class="form-group">
                    <div class="div_input">
                        <i class="fas fa-key"></i>
                        <input id="repass" type="password" name="re_matkhau" class="form-input" placeholder="Nhập lại mật khẩu">
                        <div id="eye-repass" class="eye">
                            <i class="far fa-eye"></i>
                        </div>
                    </div>
                    <div id="e_repass" class="rq"></div>
                </div>
                <div id="signup">
                    <div id="e_check" class="rq">@ViewBag.Error</div>
                    <input type="submit" value="Đăng Ký" class="form-submit">
                </div>
                <div class="signin_link">
                    Bạn đã có tài khoản ? <a href="@Url.Action("Index", "login")">Đăng nhập</a>
                </div>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Submit_Form.js"></script>
    <script>
        $(document).ready(function () {
            // Function to hide error messages after a delay
            function hideErrors() {
                $('#e_check').text('');
            }
            setTimeout(hideErrors, 3000);
        });
    </script>

</body>


</html>
