@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index HTML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/index.css">
</head>
<body>
    <div id="wrappers">
        <div id="header">
            <div class="header-nav">
                <div class="header-nav-left">
                    <a class="link_logo_home" href="#">
                        UTEFood
                        <!-- <img class="logo-home" src="images/logo_app.png" alt="logo_home"> -->
                    </a>
                </div>
                <div class="header-nav-center">
                    <div class="header-nav-content">
                        <a href="~/Views/Trangchu/index.cshtml" style="color: #f92302;font-weight: bold;">Trang Chủ</a>
                    </div>
                    <div class="header-nav-content">
                        <a href="">Mới nhất</a>
                    </div>
                    <div class="header-nav-content">
                        <a href="">Yêu Thích</a>
                    </div>
                    <div class="header-nav-content">
                        <a href="">Khuyến mãi</a>
                    </div>
                    <!-- <div class="header-nav-content">
                        <a href="">Giảm giá đặc biệt</a>
                    </div> -->
                    <div class="header-nav-content">
                        <a href="">Liên hệ</a>
                    </div>
                </div>
                <div class="header-nav-right">
                    <div class="header-nav-content-search">
                        <img src="~/images/search.png" alt="">
                        <input type="text" id="input-search" class="frm-search" name="input_search" placeholder="Tìm kiếm">
                    </div>
                    <div class="header-nav-content-cart">
                        <a class="link_cart" href="" title="Xem giỏ hàng">
                            <!-- <i class="fa fa-cart-plus"></i> -->
                            <img src="~/assets/cart.png" alt="">
                            <span class="quantity">12</span>
                        </a>
                    </div>
                    <div class="header-nav-content-user-nav1">
                        <div class="div_fauser"><i class="fa fa-user-secret" style="color: #ff5500;"></i></div>
                        <div class="header-nav-content-user-nav1">
                            <a href="#">Bảo mật & Quyền riêng tư</a>
                            <a href="#">Hỗ trợ & Tư vấn</a>
                            <a href="#">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="banner">
            <div class="box-left">
                <h2>
                    <span>THỨC ĂN</span>
                    <br>
                    <span>THƯỢNG HẠNG</span>
                </h2>
                <p>
                    Chuyên cung cấp các món ăn đảm bảo dinh dưỡng
                    hợp vệ sinh đến người dùng, phục vụ người dùng 1 cách
                    hoàn hảo nhất
                </p>
                <button>Mua ngay</button>
            </div>
            <div class="box-right">
                <img src="~/assets/img_1.png" alt="">
                <img src="~/assets/img_2.png" alt="">
                <img src="~/assets/img_3.png" alt="">
            </div>
            <div class="to-bottom">
                <a href="">
                    <img src="~/assets/to_bottom.png" alt="">
                </a>
            </div>
        </div>
        <div id="box_item_smalls">
            <div class="content_slider_top">
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/ansang.png" alt="Ăn sáng">
                        </div>
                        <div class="item_title">
                            <h3>Ăn sáng</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/anvat.png" alt="Món chính">
                        </div>
                        <div class="item_title">
                            <h3>Ăn vặt</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/khaivi.png" alt="Ăn vặt">
                        </div>
                        <div class="item_title">
                            <h3>Khai vị</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/monchinh.png" alt="Khai vị">
                        </div>
                        <div class="item_title">
                            <h3>Món chính</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/salad.png" alt="Món chay">
                        </div>
                        <div class="item_title">
                            <h3>Salad</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/lau.png" alt="Thức uống">
                        </div>
                        <div class="item_title">
                            <h3>Lẩu</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/healthy.png" alt="Ăn vặt">
                        </div>
                        <div class="item_title">
                            <h3>Healthy</h3>
                        </div>
                    </a>
                </div>
                <div class="content_slider_top_item">
                    <a class="item_link" href="#">
                        <div class="item_img">
                            <img src="~/images/thucuong.png" alt="Khai vị">
                        </div>
                        <div class="item_title">
                            <h3>Thức uống</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="list_item">
            <div class="list_item">
                <div class="list_category_left">
                    <div class="content_title_left">
                        <h1>Danh Mục</h1>
                    </div>
                    <div class="category_item" ">
                        @foreach (var item in new QUANLYBANHANG_FOODEntities1().DANHMUC)
                        {
                            <a href="#">
                                @*<li>@Html.DisplayFor(modelItem => item.TenDM)</li>*@
                                <li>@Html.ActionLink(item.TenDM, "ProducsCate", new { id = item.MaDM })</li>
                            </a>
                        }
                    </div>
                </div>
                <div class="list_item_right">
                    <div class="content_title_right">
                        <h1>Tất cả sản phẩm</h1>
                    </div>
                    <div class="item_content_box">
                        @foreach (var item in new QUANLYBANHANG_FOODEntities1().SANPHAM)
                        {
                            <div class="item_box">
                                <div class="item_box_img">
                                    <img class="box_img" src="~/images/@Html.DisplayFor(modelItem => item.HinhAnh)" alt="">
                                </div>
                                <div class="item_box_title">
                                    <h2 class="box_title">@Html.DisplayFor(modelItem => item.TenSP)</h2>
                                </div>
                                <div class="item_box_star">
                                    <img src="~/assets/star.png" alt="">
                                    <img src="~/assets/star.png" alt="">
                                    <img src="~/assets/star.png" alt="">
                                    <img src="~/assets/star.png" alt="">
                                    <img src="~/assets/star.png" alt="">
                                </div>
                                <div class="item_box_pound_cart">
                                    <div class="item_box_pound">
                                        <span class="box_pound_price">@Html.DisplayFor(modelItem => item.DonGiaBan) VNĐ</span>
                                        <span class="box_pound_reduce">200000 VNĐ</span>
                                    </div>
                                    <a href="" class="item_box_cart">
                                        <img src="~/assets/cart.png" alt="">
                                    </a>
                                </div>
                                <a href="~/detail.html" class="item_box_detail">Xem chi tiết</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="note_title_center">
            <div class="note_title_center">
                <h2 title="Blog sống xanh">
                    <a href="~/Views/Trangchu/index.cshtml">Blog sống khỏe</a>
                </h2>
                <p>Kiến thức sống xanh, sống sạch, sống heathy dành cho bạn, mỗi ngày một khoẻ hơn</p>
            </div>
        </div>
        <div id="standards">
            <div class="standard">
                <!-- <a class="link_standard_box" href="">
                    <div class="standard_box">
                        <div class="standard_box_img">
                            <img src="images/hocnauan.jpg" alt="">
                        </div>
                        <div class="standard_box_text">
                            <h2>Học nấu ăn</h2>
                            <p>Học nấu ăn món Á, Âu từ cơ bản đến nâng cao, học theo món.</p>
                        </div>
                    </div>
                </a> -->
                <a class="link_standard_box" href="">
                    <div class="standard_box">
                        <div class="standard_box_img">
                            <img src="~/images/moanngon.jpg" alt="">
                        </div>
                        <div class="standard_box_text">
                            <h2>Món ăn ngon</h2>
                            <p>Chia sẻ các món ăn ngon của các nước Á Âu.</p>
                        </div>
                    </div>
                </a>
                <a class="link_standard_box" href="">
                    <div class="standard_box">
                        <div class="standard_box_img">
                            <img src="~/images/hocnauche.jpg" alt="">
                        </div>
                        <div class="standard_box_text">
                            <h2>Học nấu chè</h2>
                            <p>Khóa học làm các loại chè ngon từ Bắc chí Nam.</p>
                        </div>
                    </div>
                </a>
                <a class="link_standard_box" href="">
                    <div class="standard_box">
                        <div class="standard_box_img">
                            <img src="~/images/naumonchay.jpg" alt="">
                        </div>
                        <div class="standard_box_text">
                            <h2>Nấu món chay</h2>
                            <p>Hàng trăm công thức nấu món chay đơn giản thanh đạm.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div id="footer">
            <div class="box">
                <div class="logo">
                    <img src="~/assets/logo.png" alt="">
                </div>
                <p>Cung cấp sản phẩm với chất lượng an toàn cho quý khách</p>
            </div>
            <div id="noidung" class="box" style="padding-left: 20px;">
                <h3>NỘI DUNG</h3>
                <ul class="quick-menu">
                    <div class="item">
                        <a href="">Trang chủ</a>
                    </div>
                    <div class="item">
                        <a href="">Sản phẩm</a>
                    </div>
                    <div class="item">
                        <a href="">Blog</a>
                    </div>
                    <div class="item">
                        <a href="">Liên hệ</a>
                    </div>
                </ul>
            </div>
            <div class="box">
                <h3>LIÊN HỆ</h3>
                <form action="">
                    <input type="text" placeholder="Địa chỉ email">
                    <button>Nhận tin</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <!-- <script src="JS/slide.js"></script> -->
    <script src="~/Scripts/setBackgroundbanner.js"></script>



</body>
</html>

