* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#wrappers {
    min-height: 100%;
    position: relative;
}

#header {
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 2;
    top: 0px;
    /* background-color: #f8f9fa; */
    background-color: rgb(255, 239, 239);
    border-top: 2px solid #f92302;
    display: flex;
    align-items: center;
}

/* Cố định kích thước trang web */
.header-nav {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-left {
    width: 150px;
    text-align: right;
}
.link_logo_home{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f92302;
    text-decoration: none;
    font-weight: bold;
}
/* .logo-home{
    width: 70px;
    height: 50px;
} */

/* .info-logo-home {
    margin-left: 10px;
    width: 30px;
    height: 30px;
} */

.header-nav-center {
    display: flex;
    flex-direction: row;
}

.header-nav-content{
    margin: 0 15px;
}

.header-nav-content a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: rgb(0, 0, 0);
}

.header-nav-content a:hover {
    color: #f92302;
}

.header-nav-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.header-nav-content-search{
    position: relative;
}
.header-nav-content-search img{
    position: absolute;
    right: 5px;
    top: 2px;
    opacity: 0.8;
    cursor: pointer;
}
.header-nav-content-search img:hover{
    opacity: 1;
}
.header-nav-content-search input {
    width: 210px;
    height: 34px;
    line-height: 34px;
    padding: 2px 40px 0px 10px; 
    border-radius: 5px;
    outline: 0;
    border: none;
    /* min-width: 300px; */
}

.header-nav-content-cart {
    margin: 5px 20px 0px;
}

/* .link_cart i {
    color: #ff2f00;
} */
.link_cart{
    position: relative;
    color: #ff2f00;
}
.link_cart img{
    width: 23px;
    height: 23px;
    
}
.link_cart span{
    background: red;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    top: -15px;
    left: 90%;
    font-size: 8px;
    padding: 2px 4px;
    font-weight: bold;
}
.header-nav-content-user-nav1 {
    position: relative;
    display: inline-block;
}

.header-nav-content-user-nav1 .div_fauser {
    padding: 6px 0px;
}

.header-nav-content-user-nav1 i {
    font-size: 24px;
    padding: 0px 10px;
    color: rgb(0, 0, 0);
}

.header-nav-content-user-nav1 .header-nav-content-user-nav1 {
    position: absolute;
    display: none;
    /* background-color: #fff; */
    background-color: rgb(255, 239, 239);
    right: 5px;
    top: 100%;
    width: max-content;
    text-align: right;
    z-index: 1;
}

.header-nav-content-user-nav1:hover .header-nav-content-user-nav1 {
    display: block;
}

.header-nav-content-user-nav1 a {
    display: block;
    padding: 10px 20px;
    border-right: 1px solid #f92302;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}

.header-nav-content-user-nav1 a:hover {
    color: #ff2a00;
    font-weight: 600;
}


#banner {
    width: 100%;
    background-image: url(../assets/banner.png);
    height: 463px;
    margin-top: 40px;
    display: flex;
    /* padding:0px 133px; */
    position: relative;
    background-size: cover; /* Hiển thị ảnh sao cho nó phủ đầy kích thước của #banner */
    /* background-repeat: no-repeat; Không lặp lại ảnh */
    background-position: center; /* Hiển thị ảnh ở giữa #banner */
}

#banner .box-left ,#banner .box-right {
    width: 50%;
    margin-left: 100px;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {
    color:#D0D0D0;
    margin: 10px 0px 0px 5px;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}
#banner .box-left button {
    background: rgb(105, 105, 105);
}
#banner .box-left button:hover {
    background: #f11c00;
}

#banner .box-right {
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);

}
.to-bottom img{
    width: 60px;
    height: 60px;
}


#box_item_smalls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    margin: 35px 0px;
}


.content_slider_top{
    width: 1000px;
    height: max-content;
    margin: 30px 80px 25px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
}

.content_slider_top_item {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.item_link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_link:hover{
    transform: scale(1.1);
    transition: transform 0.2s; 
}

.item_img img {
    width: 60px;
    height: 55px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 8px;
    padding: 5px;
    background-color: rgb(255, 239, 239);
    /* box-shadow: 0px 0px 1px 1px rgb(158, 158, 158); */
}
.item_link:hover img{
    opacity: 0.8;
}
.item_title h3 {
    font-size: 14px;
    text-align: center;
    color: rgb(43, 43, 43);
}
.item_link:hover h3{
    color: #ff3700;
}

.content_slider_bottom{
    width: 1000px;
    height: 350px;
    margin: 20px 0px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.slide {
    width: 100%;
    height: 100%;   
    float: left;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#list_item{
    width: 100%;
}
.list_item{
    width: 1050px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.list_category_left{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}
.category_item{
    width: 100%;
    box-shadow: 0px 3px 8px 1px #f1f1f7;
    padding: 0px 20px;
}
.category_item li{
    list-style-type: none;
    border-top: 1px solid #f1f0f0;
    padding: 15px 10px 15px 5px;
    font-size: 18px;
}

.category_item a{
    text-decoration: none;
    color: #242424;
    font-size: 15px;
}
.category_item a li:hover{
    font-weight: bold;
    color: #f11c00;
}
.content_title_left{
    height: 48px;
    background-color: #ff1010;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}
.content_title_left h1{
    font-size: 28px;
    color: #fff;

}
.list_item_right{
    width: 800px;
    display: flex;
    padding: 0px 15px;
    flex-direction: column;
}
.content_title_right{
    height: 48px;
    background-color: #ff1010;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_title_right h1{
    font-size: 28px;
    color: #fff;
}
.item_content_box{
    width: 100%;
    display: flex;
    /* box-shadow: 0px 3px 7px 5px #cecceb; */
    box-shadow: 0px 0px 5px 0px #cacaca;
    margin: 20px 0px;
    overflow: hidden;
    padding: 10px;
}
.item_box_left{
    width: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.item_box_img{
    width: 100%;
    height: 180px;
    overflow: hidden;
    z-index: 1;
}
.item_box_img .box_img{
    width: 100%;
    height: 100%;
    transition: 0.4s; 
}
.item_box_img:hover .box_img{
    transform: scale(1.3);
    transition: 0.4s;
}
.item_box_addcart{
    width: 100%;
    height: 45px;
    background-color: #ff2a00;
    text-decoration: none;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    overflow: hidden;
}
.item_box_addcart:hover{
    background-color: #676767;
    transition: 0.4s;
    transform: scale(1.2);
}
.item_box_right{
    width: 65%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.item_box_title{    
    font-size: 18px;
    padding-left: 5px;
}
.item_box_star{
    margin: 7px 0px 5px; 
    height: 25px;
}
.item_box_star img{
    width: 25px;
    height: 25px;
}
.item_box_mota{
    padding: 5px 15px 5px 5px;
}
.item_box_mota p{
    font-size: 16px;
    color: #303030;
    text-align: justify;
}
.item_box_pound_soluong{
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 5px 15px 5px 5px;
}
/* .item_box_pound{ 
    font-size: 14px;
} */
.box_pound_price, .item_box_soluong{
    font-size: 17px;
    font-weight: bold;
    color: #f11c00;
}





#note_title_center {
    width: 100%;
    margin: 0 auto;
}
.note_title_center{
    width: 70%;
    margin: 0px auto;
    text-align: center;
}

.note_title_center h2 {
    position: relative;
    display: block;
    line-height: normal;
    margin: 70px 0px 10px;
}

.note_title_center h2::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgb(255, 67, 29);
    z-index: -1;
}

.note_title_center h2::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 50%;
    right: 0;
    background-color: rgb(255, 67, 29);
    z-index: -1;
}

.note_title_center a {
    padding: 10px 20px;
    /* background-color: rgb(255, 55, 0); */
    
    background-color: #fff;
    text-decoration: none;
    color: rgb(255, 55, 0);
    border-radius: 30px;
    display: inline-block;
}

.note_title_center p {
    /* font-style: italic; */
    font-size: 17px;
}



#standards{
    width:  100%;
    /* height: 350px; */
    margin: 15px auto 10px;
    padding: 20px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.standard{
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: stretch;
    
}
.link_standard_box{
    width: 30%;
    text-decoration: none;
    margin: 15px;
}

.standard_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0px 3px 7px 5px #cecceb; */
    box-shadow: 0px 3px 12px 5px #dbdbe4
}
.standard_box_img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.standard_box_img img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s; 
}
.link_standard_box:hover img{
    transform: scale(1.2);
}
.standard_box_text{
    width: 100%;
    /* height: max-content; */
    padding: 20px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.standard_box_text h2{
    color: #ff2f00;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}
.standard_box_text p{
    color: #000;
    text-align: center;
    font-size: 15px;
}



#footer {
    /* height: 400px; */
    background-color: rgb(255 223 218);
    /* color: #e62d08; */
}

.footer_content {
    width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.left, .right {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.footer_box {
    width: 50%;
    /* height: 100%; */
    margin: 0px 20px;
    float: left;
    padding: 35px 10px 35px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer_box_title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #ff4343;
}

strong {
    color: #ff4343;
}

.footer_box p {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer_box i {
    float: left;
    color: #ff4343;
}

.information {
    margin-bottom: 20px;
    margin-left: 24px;
    /*padding-left: 3px;*/
}

.fa-mobile {
    font-size: 23px;
}

.fa-mobile, .fa-map-marker {
    margin-left: 3px;
}

.fa-clock-o, .fa-map-marker {
    font-size: 19px;
}

.footer_box a {
    text-decoration: none;
    color: rgb(253, 42, 0);
}

.footer_box li {
    font-size: 30px;
    margin: 0px 0px 8px 24px;
    color: rgb(255 124 97);
}

.footer_box_list li a {
    font-size: 17px;
    color: #000;
}

.footer_box li:hover {
    color: rgb(248, 37, 0);
}

.footer_image {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center
}

.logo {
    width: 220px;
    height: 220px;
    opacity: 0.5;
    margin: 0px 10px;
    opacity: 1;
}

.footer_image_info {
    display: flex;
    margin-top: 20px;
    /*justify-content: flex-end;*/
}

    .footer_image_info a {
        margin: 3px;
    }

.info_fb, .info_ytb, .info_mes {
    width: 40px;
    height: 40px;
    margin: 5px;
}


@media (max-width: 1050px) {
    .header-nav-center {
        display: none; /* Ẩn menu trung tâm khi màn hình nhỏ */
    }
    .content_slider_bottom{
        width: 90%;
        height: 280px;
        margin: 10px 20px;
    }
    .content_slider_top{
        width: 100%;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center; 
    }
    .note_title_center{
        width: 80%;
    }
   
    
}
@media (max-width: 868px) {
    #header {
        padding: 0px 5px; /* Giảm padding của header */
    }
    .header-nav-left {
        text-align: center;
    }
    #banner{
        display: none;
    }

    #contents{
        width: 100%;
    }
   
}
/* @media (max-width: 680) {
    .standard{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 25px;
        align-items: center;
    }
    .link_standard_box{
        width: 100%;
    }
    .standard_box_img{
        height: 250px;
    }
   
} */
@media (max-width: 680px) {
   
    .standard{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 25px;
        align-items: center;
    }
    .link_standard_box{
        width: 100%;
    }
    .standard_box_img{
        height: 200px;
    }

    #footer #noidung{
        display: none;
    }
    .note_title_center a{
        border-radius: 15px;
        box-shadow: 0px 1px 20px 2px #e4e4e4;
    }
    .note_title_center h2::before {
        position: absolute;
        width: 0px;
    }
    .note_title_center h2::after {
        position: absolute;
        width: 0px;
    }
    .note_title_center p{
        display: none;
    }

}